.background {
  background-image: url("/copertina.png");
  background-size: cover;
  height: 100%;
  background-position: center;
}
.cover {
  height: 100%;
  overflow: hidden;
}
.hide {
  display: none;
}
.display {
  display: block;
}
.bottone {
  margin-right: 12px;
}
.cursor-pointer {
  cursor: pointer;
}
.round {
  border-radius: 20px;
  box-sizing: border-box;
}
.row {
  min-height: calc(100vh - 72px);
}

#editIcon,
.avatar-edit,
.iconContainer {
  cursor: pointer;
}

.avatar {
  width: 64px;
  height: 64px;
}

.iconContainer {
  position: absolute;
  top: 85%;
  left: 85%;
  height: 27px;
  width: 27px;
  transform: translate(-50%, -50%);
  border-radius: 50%;
}

#editIcon {
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
