<div class="container">
  <h2>📝 Create invoice</h2>
  <div>
    <div class="d-flex justify-content-between status mt-3 mb-4">
      <p class="m-0 p-0">
        Click the button next to add a new invoice status if it doesn’t already
        exist.
      </p>
      <button type="button" (click)="openModal()" class="btn btn-primary">
        + Add new invoice status
      </button>
    </div>

    <h4 class="mb-3">New invoice:</h4>
    <form [formGroup]="newInvoice" (submit)="save()">
      <div class="mb-3 mt-2">
        <div class="d-flex justify-content-between">
          <label class="form-label m-0" for="date">Invoice date:</label>
          <span class="text-danger" *ngIf="isTouchedInvalid('date')">{{
            message("date")
          }}</span>
        </div>
        <input
          type="date"
          class="form-control"
          id="date"
          name="date"
          formControlName="date"
        />
      </div>
      <div class="mb-3">
        <div class="d-flex justify-content-between">
          <label class="form-label m-0" for="date">Invoice amount:</label>
          <span *ngIf="isTouchedInvalid('amount')" class="text-danger">{{
            message("amount")
          }}</span>
        </div>
        <input
          type="number"
          class="form-control"
          id="amount"
          name="amount"
          step="0.01"
          formControlName="amount"
        />
      </div>
      <div class="mb-3">
        <div class="d-flex justify-content-between">
          <label class="form-label m-0" for="date">Invoice status:</label>
          <span *ngIf="isTouchedInvalid('status')" class="text-danger">{{
            message("status")
          }}</span>
        </div>
        <select
          class="form-select"
          name="status"
          id="status"
          formControlName="status"
        >
          <option value="">-- select invoice status --</option>
          <option *ngFor="let s of statuses" [value]="s.name">
            {{ s.name }} - {{ s.description }}
          </option>
        </select>
      </div>
      <div class="mb-3">
        <div class="d-flex justify-content-between">
          <label class="form-label m-0" for="date">Customer:</label>
          <span *ngIf="isTouchedInvalid('customerId')" class="text-danger">{{
            message("customerId")
          }}</span>
        </div>
        <div class="d-flex align-items-center gap-2">
          <select
            class="form-select"
            name="customerId"
            id="customerId"
            formControlName="customerId"
          >
            <option value="">-- select customer --</option>
            <option *ngFor="let c of customers" [value]="c.id">
              {{ c.denomination }}
            </option>
          </select>
          <input
            class="form-control"
            type="text"
            id="vatCode"
            name="vatCode"
            #vatCode
            placeholder="Search by vat code (press enter)"
            (keypress)="keydown($event)"
            (change)="clean()"
          />
        </div>
      </div>

      <button class="btn btn-primary" [disabled]="newInvoice.invalid">
        💾 Save
      </button>
    </form>
  </div>
  <app-alert
    class="flex-grow-1"
    *ngIf="alertMessage && alertMessage.length > 0"
    [message]="alertMessage"
    [type]="'success'"
    (closeAlert)="clearMessage()"
  ></app-alert>
</div>
