<div class="separator"></div>
<h5>
  <span class="grey">Company: </span>
  <span class="fw-bold">{{ customer.denomination }}</span>
</h5>
<h6>
  <span class="grey">VatCode: </span> <span class="">{{ customer.vatCode }}</span>
</h6>
<div class="separator"></div>
<ul class="list-group list-group-flush">
  <li class="list-group-item border-0"> <span class="grey">📞 Phone:</span> {{ customer.contactPhone }}</li>
  <li class="list-group-item border-0"> <span class="grey">✉️ PEC:</span> {{ customer!.pec }}</li>
  <li class="list-group-item border-0" *ngIf="customer!.yearlyTurnover > 0">
    Yearly turnover: {{ customer.yearlyTurnover }} €
  </li>
  <li class="list-group-item border-0">
    <span class="grey">📍 Office :</span>
    {{ customer.addresses.RegisteredOfficeAddress.street }}
    {{ customer.addresses.RegisteredOfficeAddress.city.name }}
    {{ customer.addresses.RegisteredOfficeAddress.city.district.code }}
    {{ customer.addresses.RegisteredOfficeAddress.cap }}
  </li>
  <li class="list-group-item border-0">
   <span class="grey"> 🏢 Headquarter </span>:
    {{ customer.addresses.OperationalHeadquartersAddress.street }}
    {{ customer.addresses.OperationalHeadquartersAddress.city.name }}
    {{ customer.addresses.OperationalHeadquartersAddress.city.district.code }}
    {{ customer.addresses.OperationalHeadquartersAddress.cap }}
  </li>
</ul>
