<div class="container-fluid cover">
  <div class="row">
    <div class="col-12 col-md-5 d-none d-md-block py-2">
      <div class="background round"></div>
    </div>
    <div class="col">
      <div class="p-3">
        <ng-container *ngIf="token !== null && !isTokenExpired">
          <h1 class="mb-4">
            Welcome {{ username !== null ? username : "" }} <br />
            on EnergyService ⚡️
          </h1>

          <form [formGroup]="form" (ngSubmit)="resetPassword()">
            <div class="form-group">
              <label for="password">Insert new password</label>
              <input
                type="password"
                name="password"
                placeholder="******"
                class="form-control"
                formControlName="password"
              />
            </div>

            <button
              type="submit"
              class="btn btn-primary mt-1"
              [disabled]="form.invalid"
            >
              Reset Password
            </button>
          </form>
        </ng-container>

        <ng-container *ngIf="token === null || isTokenExpired">
          <h1>Link not valid or expired</h1>
        </ng-container>
      </div>
    </div>
  </div>
</div>
