<div class="position-relative">
  <form #form="ngForm" (submit)="getAllByStatus()">
    <label for="status" class="form-label">Invoice status:</label>
    <div class="d-flex align-items-center gap-2">
      <select
        class="form-select"
        name="status"
        id="status"
        name="status"
        required
        [(ngModel)]="status"
      >
        <option value="">-- select invoice status --</option>
        <option
          class="form-control"
          *ngFor="let s of statuses"
          [value]="s.name"
        >
          {{ s.name }} - {{ s.description }}
        </option>
      </select>
      <button class="btn btn-success" [disabled]="status == ''">
        <ng-icon name="bootstrapSearch"></ng-icon>
      </button>
    </div>
  </form>
  <div
    *ngIf="isLoading"
    class="d-flex justify-content-center position-absolute start-50 translate-middle-x spinner"
  >
    <div class="spinner-border text-success" role="status">
      <span class="visually-hidden">Loading...</span>
    </div>
  </div>
</div>
