<div class="container-fluid cover">
  <div class="row">
    <div class="col-12 col-md-5 d-none d-md-block py-2">
      <div class="background round"></div>
    </div>
    <div class="col-12 col-md-7">
      <div class="p-3">
        <h1 class="mt-2 mb-3">Register an Employee</h1>

        <form [formGroup]="form" (ngSubmit)="register()">
          <!-- User Data -->
          <fieldset>
            <div class="form-group">
              <label for="name">First Name</label>
              <input
                id="name"
                type="text"
                placeholder="Mario"
                class="form-control"
                formControlName="name"
              />

              <label for="surname" class="mt-3">Last Name</label>
              <input
                id="surname"
                type="text"
                placeholder="Rossi"
                class="form-control"
                formControlName="surname"
              />

              <label for="email" class="mt-3">E-mail</label>
              <input
                id="email"
                type="email"
                placeholder="mariorossi@gmail.com"
                class="form-control"
                formControlName="email"
              />

              <label for="password" class="mt-3">Password</label>
              <input
                id="password"
                type="password"
                placeholder="******"
                class="form-control"
                formControlName="password"
              />

              <label for="username" class="mt-3">Username</label>
              <input
                id="username"
                type="text"
                placeholder="MarioR"
                class="form-control"
                formControlName="username"
              />
            </div>
            <button
              type="submit"
              class="btn btn-primary mt-4"
              [disabled]="form.invalid"
            >
              Register User
            </button>
          </fieldset>

          <div *ngIf="formvalid" class="alert alert-danger mt-3" role="alert">
            Form not valid, please fill in all fields
          </div>
        </form>
      </div>
      <app-alert
        *ngIf="message && message.length > 0"
        [message]="message"
        [type]="'success'"
        (closeAlert)="clearMessage()"
      ></app-alert>
    </div>
  </div>
</div>
